/*
Color Palette:
background color: #FFEFE2
font color: #EFD345
secondary color: #BABD42
tertiary color:  #82954B
*/

/* CSS syntax notes:
    selector {property: value:}
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

html {
    font-size: 62.5%;   /* Defoult font size is 16px - 6.5% of 16 is 10px - 
                        1 rem (relative unit) now will be equivilent to 10 px */
}

header {
    margin:0 4rem;
    letter-spacing: 0.8rem;
    text-align: center;
    border-bottom: 1px solid #82954B;
    border-right: 1px solid #82954B;
    border-left: 1px solid #82954B;
    padding: 0.5rem;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    font-size: 1.1rem;
    
}

body {
    background-color: #FFEFE2;
    color: #EFD345;
    font-family: 'Open Sans', sans-serif; 
    margin: 0;
    text-shadow: 2px 2px teal;
}

cite {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}

.imageCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7rem 4rem;
}

.imageCard img {
    width: 100%;
    height: auto;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imageCard a {
    text-decoration: none;
    color: #82954B;
}

.cardText {
    color: #BABD42;
    text-align: center;
    padding: 2rem;
    border-radius: 30px;
    margin-top: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 768px) {
    header {
        font-size: 1.6rem;
    }
    
    .gallery {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .imageCard {
        max-width: 28%;
    }
} 
    img:hover {
        border-radius: 50%;
    }